<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Edit <%= identity.name %></title>
</head>
<body>
    <%- include("../partials/_navbar.ejs") %>
    <div class="page-wrapper">
    <div class="new-container">
        <div class="new-form-container">
            <h1>Edit an Identity!</h1>

            <form action="/identities/<%= identity._id %>?_method=PUT" method="POST">
                <label for="name">Identity name:</label>
                <input
                    type="text"
                    name="name"
                    id="name"
                    value="<%= identity.name %>"
                />

                <label for="last-updated">Last updated:</label>
                <input
                    type="date"
                    name="lastUpdated"
                    id="last-updated"
                    value="<%= identity.lastUpdated.toISOString().substring(0, 10) %>"
                />

                <label for="pwd-reused">Has this password been reused?</label>
                <input
                    type="checkbox"
                    name="pwdReused"
                    id="pwd-reused"
                    <%= identity.pwdReused ? "checked" : "" %>
                />

                <label for="stored-in-pwd-manager">Is this password being stored in a Password Manager?</label>
                <input
                    type="checkbox"
                    name="storedInPwdManager"
                    id="stored-in-pwd-manager"
                    <%= identity.storedInPwdManager ? "checked" : "" %>
                />

                <label for="mfa-present">Is MFA in use for this Identity?</label>
                <input
                    type="checkbox"
                    name="mfaPresent"
                    id="mfa-present"
                    <%= identity.mfaPresent ? "checked" : "" %>
                />
                
                <label for="pwd-strength">Password strength:</label>
                <select
                    name="pwdStrength"
                    id="pwd-strength"
                >
                    <option
                        value="weak"
                        <%= identity.pwdStrength === "weak" ? "selected" : "" %>
                    >
                    Weak
                    </option>
                    <option
                        value="medium"
                        <%= identity.pwdStrength === "medium" ? "selected" : "" %>
                    >
                    Medium
                    </option>
                    <option
                        value="strong"
                        <%= identity.pwdStrength === "strong" ? "selected" : "" %>
                    >
                    Strong
                    </option>
                </select>
                <p> <span title="Minimum of 16 characters | Uses uppercase & lowercase letters | Uses numbers and special characters | Not reused on other  sites"> Password strength criteria <sup>&#9432;</sup> </span> | 
                <span title="Meet all criteria = Strong | Miss one = Medium | Miss two or more = Weak"> How to set password strength <sup>&#9432;</sup> </span></p> 

                <label for="pwned-status"><span title="Go to https://haveibeenpwned.com/Passwords | Enter your password to check results">Has this password been leaked before? <sup>&#9432;</sup></span></label>
                <input
                    type="checkbox"
                    name="pwnedStatus"
                    id="pwned-status"
                    <%= identity.pwnedStatus ? "checked" : "" %>
                />
                
                <label for="notes">Notes:</label>
                <textarea
                    name="notes"
                    id="notes"
                    rows="4"
                    cols="10"
                    wrap="hard"
                ><%= identity.notes %>
                </textarea>
                
                <button type="submit">Edit Identity</button>
            </form>
        </div>
    </div>
    </div>
</body>
<footer>
    <div class="footer-links">
        <a href="https://github.com/ranjith-jacob">Github</a>
        <a href="#">Privacy Policy</a>
    </div>
    <div class="footer-msg">
        <p>This is a work in progress, check back later for more updates!</p>
    </div>
</footer>
</html>